/* LO QUE SE USA EN EL SITIO EN GENARAL */
/*-----------------------------------*\
    UNIVERSAL
\*-----------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    body {
        font-family: $ff-nunito;
    }
    
}


