.container-cards {
  width: 100%;
  height: auto;


  .cards-services {
    width: 83.34%;
    height: auto;
    text-align: center;
    margin: 1rem auto;


    .card-inmuebles {
      width: 100%;
      position: relative;

      img {
        object-fit: cover;
        cursor: pointer;
      }

      .card-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }
}
