.container-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;

  .hero-slider {
    display: flex;

    text-align: center;

    .slider-section {
      width: 100%;
      position: relative;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .slider-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-size: 2.5rem;
          color: $white;
        }
      }
    }
  }

  .slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  .btn-left {
    left: 0.1rem;
  }

  .btn-right {
    right: 0.1rem;
  }
}
