section.main-title {
  h1 {
    color: $black;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;

    @media screen and (min-width: $tablet-BP) {
      font-size: 3.5rem;
    }

    @media screen and (min-width: $desktop-BP) {
      font-size: 5rem;
    }
  }
}